.dropdown-item {
	color: #FFFFFF !important;
}

.navbar {
	min-height: auto;
}

.navbar-nav .nav-item > .nav-link > span {
	display: block;
}

.navbar-nav .dropdown-menu,
.navbar-nav .nav-link,
.navbar-nav .active > .nav-link  {
	color: rgba(0, 0, 0, 0.55) !important;
}

body > .content, body .main-section {
	margin-top: 0;
}

.main-section > section.catalog-filter:first-of-type {
	background-color: var(--ai-primary);
}

.aimeos .catalog-stage-image {
	display: none;
}

.aimeos .catalog-filter-tree .category-selected {
	display: none;
}