<!DOCTYPE html>
<html lang="{locale}" dir="{localeDir}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: blob: https://cdnjs.cloudflare.com https://cdn.jsdelivr.net; style-src 'unsafe-inline' 'self' https://cdnjs.cloudflare.com https://cdn.jsdelivr.net; script-src 'unsafe-eval' 'self' https://cdnjs.cloudflare.com https://cdn.jsdelivr.net; img-src 'self' data: blob: https://cdnjs.cloudflare.com https://cdn.jsdelivr.net https://*.tile.openstreetmap.org https://aimeos.org; frame-src https://www.youtube.com https://player.vimeo.com">

		<title>Aimeos administration interface</title>

		<f:if condition="{localeDir} == 'rtl'">
			<f:then>
				<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2/dist/css/bootstrap.rtl.min.css">
			</f:then>
			<f:else>
				<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2/dist/css/bootstrap.min.css">
			</f:else>
		</f:if>
		<link rel="stylesheet" href="{f:uri.action(action: 'file', arguments: {type: 'css'})}">

		<style>
			body.dark .btn-theme.dark-mode {display:none}
			body.light .btn-theme.light-mode {display:none}
			.app-menu .icon {font: 1rem bootstrap-icons; vertical-align: middle; padding: 0.66rem 1rem; background-color: transparent; border: none; color: inherit}
			.app-menu .icon.light-mode::before {content: "\F5A2"}
			.app-menu .icon.dark-mode::before {content: "\F497"}
			.app-menu .icon::before {display: inline-block}
		</style>
	</head>
	<body class="{theme}">
		<div class="app-menu">
			<span class="menu"></span>
			<div class="app-menu-end">
				<i class="icon btn-theme light-mode fa"></i><i class="icon btn-theme dark-mode fa"></i>
			</div>
		</div>

		<f:render section="content" />

		<script src="{f:uri.action(action: 'file', arguments: {type: 'js'})}"></script>
	</body>
</html>
