services:
  Aimeos\Aimeos\Setup:
    tags:
      - name: event.listener
        identifier: 'aimeosSetup'
        method: setupEvent
        event: TYPO3\CMS\Core\Package\Event\AfterPackageActivationEvent
      - name: event.listener
        identifier: 'aimeosSchema'
        method: schemaEvent
        event: TYPO3\CMS\Core\Database\Event\AlterTableDefinitionStatementsEvent

  Aimeos\Aimeos\Command\JobsCommand:
    tags:
      - name: 'console.command'
        command: 'aimeos:jobs'
        description: 'Execute Aimeos job controllers'

  Aimeos\Aimeos\Command\SetupCommand:
    tags:
      - name: 'console.command'
        command: 'aimeos:setup'
        description: 'Creates or updates the database tables'
